# Ignore the .env file
/backend/.env

# Ignore contents inside venv, but not the folder
/backend/venv/*
!/backend/venv/.gitkeep

# Ignore contents inside uploads, but not the folder
/backend/uploads/*
!/backend/uploads/.gitkeep

# Ignore contents inside vector_store, but not the folder
/backend/vector_store/*
!/backend/vector_store/.gitkeep

# Ignore contents inside summaries, but not the folder
/backend/summaries/*
!/backend/summaries/.gitkeep

__pycache__/
*.pyc
*.pyd
backend/results/
backend/scraped_data/