langchain
chromadb
sentence-transformers
google-generativeai
python-dotenv
pdfplumber
flask
werkzeug
langchain-community
langchain-google-genai
google-ai-generativelanguage==0.6.15
langchain_google_genai  
protobuf