langchain
chromadb
sentence-transformers
google-generativeai
python-dotenv
pdfplumber
flask
werkzeug
langchain-community
langchain-google-genai
google-ai-generativelanguage==0.6.15
langchain_google_genai
protobuf
langchain-huggingface
langchain-chroma
celery
redis
flask-cors
beautifulsoup4
readability-lxml
faiss-cpu
PyMuPDF
langgraph
requests
PyJWT
pillow
lxml
lxml_html_clean
readability-lxml
